/******************************************/
/*                  SCORE                 */
/******************************************/

.score-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text].score-equipe {
    font-size: 45px;
    height: 70px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #d89c00;
    width: 300px;
}
.nom-equipe {
    padding: 10px;
}

.container-nom-equipe {
    margin-bottom: 20px;
    color: #ffca28;
}

.score-button a {
    font-size: 35px;
    width: 50px;
    height: 50px;
    padding: 0;
}